*{
    font-family: 'Mulish', sans-serif;
}

/* This is nav section start */
header{
    max-width: 1170px;
    margin: 0 auto;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    text-align: center;
}

.nav-image{
    display: flex;
    align-items: center;
}

.image-1{
    width: 48px;
    height: 56px;
}

.nav-text{
    font-size: 36px;
    font-family: 'Mulish';
    font-weight: 800;
    padding: 0 100px;
    padding-left: 15px;
}

ul{
    float: right;
    margin-right: 20px;
}

ul li{
    display: inline-block;
    margin: 20px;
}

ul li a{
    text-decoration: none;
}

.link-1{
    color: #FF5400;
    font-size: 18px;
    font-family: 'Mulish';
    font-weight: 700;
}

.link{
    color: #424247;
    font-size: 18px;
    font-family: 'Mulish';
    font-weight: 400;
}
/* This is nav section End */

/* This is Explore Banner Section Start */

section{
    max-width: 1170px;
    margin: 0 auto;
}


.explore-ravel{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url(../Images/group-1.png);
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    background-size: cover;
    margin: 150px auto 0;
    text-align: center;
    border-radius: 16px;
}

.explore{
    color: #ffff;
    font-family: 'Mulish';
    font-size: 4rem;
    font-weight: 800;
    line-height: 0;
    padding: 140px 0 0;
}

.look-for{
    color: #ffff;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Mulish';
    font-style: normal;
}

.input-type{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 28px 1px;
    line-height: 170px;
    margin-bottom: 100px;
}

.input{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    margin: 14px;
    padding: 0 9px 0;
    border: none;
}

.input-2{
    border-radius: 8px;
    background: #FF5400;
    color: #ffff;
    font-size: 16px;
    font-family: ;
    font-weight: 700;
} */

/* This is Explore Banner Section End */


/* This is Our Popular Tours Section Start */

.section-3{
    max-width: 1170;
    margin: 0 auto;
}

.popular-tours{
    display: flex;
    justify-content: center;
    grid-area: 24px;
}

.our-popular p li{
    max-width: 557px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-family: 'Mulish';
    font-weight: 400;
}

.our-popular li{
    width: 525px;
}

.paragraph, .list-item, .commodo{
    line-height: 24px;
    margin: 20px;
}

.journey{
    color: 131318;
    font-size: 40px;
    font-family: 'Mulish';
    font-weight: 800;
}

.bttn-primary{
    width: 170px;
    height: 52px;
    border-radius: 8px;
    border: none;
    color: #ffff;
    font-size: 20px;
    font-family: 'Mulish';
    font-weight: 800;
    background: #FF5400;
}

.right-image{
    max-width: 557px;
    height: auto;
}

/* This is Our Popular Tours Section End  */

/* This is Choose Your Destination Section Start */
.choose-destination{
    max-width: 1170px;
    margin: 80px auto 0;
}

.header{
    color: #131318;
    font-size: 48px;
    font-family: 'Mulish';
    font-weight: 800;
    text-align: center;
    font-style: normal;
    line-height: 24px;
}

.you-went{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Mulish';
    line-height: 26px;
    text-align: center;
    line-height: 0;
    padding-bottom: 50px;
}

.first-section{
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.maldives{
    background-image: url(../Images/rectangle-3.png);
    fill: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 18px;
}

.indonesia{
    background-image: url(../Images/rectangle-4.png);
    fill: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}

.heading{
    color: #FFF;
    text-align: center;
    font-family: 'Mulish';
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    padding: 110px;
}

.section-2{
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    gap: 24px;
}

.srilanka{
    background-image: url(../Images/rectangle-5.png);
    background-repeat: no-repeat;
    width: 35%;
    height: 286px;
    background-size: cover;
    border-radius: 18px;
}

.america{
    background-image: url(../Images/rectangle-6.png);
    background-repeat: no-repeat;
    width: 40%;
    height: 286px;
    background-size: cover;
    border-radius: 18px;
}

.kashmir{
    background-image: url(../Images/rectangle-7.png);
    background-repeat: no-repeat;
    width: 25%;
    height: 286px;
    background-size: cover;
    border-radius: 18px;
}

.section-3{
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    gap: 24px;
}

.bangladesh{
    background-image: url(../Images/rectangle-8.png);
    background-repeat: no-repeat;
    width: 45%;
    height: 100%;
    background-size: cover;
    border-radius: 18px;
}

.bandarban{
    background-image: url(../Images/rectangle-9.png);
    background-repeat: no-repeat;
    width: 55%;
    height: 100%;
    background-size: cover;
    border-radius: 18px;
}


/* This is Choose Your Destination Section End */

/* .footer-section{
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
} */

/* This is responsive Start */


@media screen and (max-width: 600px){
    .popular-tours, .first-section{
        flex-direction: column;
        margin: 20px;
        align-items: center;
        background-size: cover;
    }
    .bttn-primary{
        margin-bottom: 50px;
    }
    .section-2{
        flex-direction: column;
        margin: 20px;
        align-items: center;
        background-size: cover;
        width: 335px;
    }

}


@media screen and (max-width: 992px){
    
}
/* This is responsive End */