*{
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

body{
    padding: 0 20px;
}

/* This is nav section start */
header{
    max-width: 1170px;
    margin: 0 auto;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    text-align: center;
}

.nav-image{
    display: flex;
    align-items: center;
}

.image-1{
    width: 48px;
    height: 56px;
}

.nav-text{
    font-size: 36px;
    font-family: 'Mulish';
    font-weight: 800;
    padding: 0 100px;
    padding-left: 15px;
}

ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
}

.link-1{
    color: #FF5400;
    font-size: 18px;
    font-family: 'Mulish';
    font-weight: 700;
}

.link{
    color: #424247;
    font-size: 18px;
    font-family: 'Mulish';
    font-weight: 400;
}
/* This is nav section End */

/* This is Explore Banner Section Start */
section{
    max-width: 1170px;
    margin: 0 auto;
}

.explore-ravel{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url(../Images/group-1.png);
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    border-radius: 16px;
}

.explore{
    color: #ffff;
    font-family: 'Mulish';
    font-size: 4rem;
    font-weight: 800;
    line-height: normal;
    padding: 140px 0 0;
}

.look-for{
    color: #ffff;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Mulish';
    font-style: normal;
}

.input-type{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 28px 1px;
    line-height: 170px;
    margin-bottom: 100px;
}

.input{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    margin: 14px;
    padding: 0 9px 0;
    border: none;
}

.input-2{
    border-radius: 8px;
    background: #FF5400;
    color: #ffff;
    font-size: 16px;
    font-family: ;
    font-weight: 700;
} */
/* This is Explore Banner Section End */


/* This is Our Popular Tours Section Start */
.section-3{
    max-width: 1170;
    margin: 100px auto 0;
}

.popular-tours{
    display: flex;
    justify-content: center;
}

.our-popular p li{
    max-width: 557px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-family: 'Mulish';
    font-weight: 400;
}

.our-popular, .right-image{
    flex: 1;
}

.right-image img{
    width: 100%;
}


.paragraph, .list-item, .commodo{
    line-height: 24px;
    margin: 20px;
}

.journey{
    color: 131318;
    font-size: 40px;
    font-family: 'Mulish';
    font-weight: 800;
}

.bttn-primary{
    width: 170px;
    height: 52px;
    border-radius: 8px;
    border: none;
    color: #ffff;
    font-size: 20px;
    font-family: 'Mulish';
    font-weight: 800;
    background: #FF5400;
}
/* This is Our Popular Tours Section End  */

/* This is Choose Your Destination Section Start */
.choose-destination{
    max-width: 1170px;
    margin: 100px auto 0;
}

.choose-destination-heading{
    color: #131318;
    font-size: 48px;
    font-family: 'Mulish';
    font-weight: 800;
    text-align: center;
    font-style: normal;
    line-height: normal;
}

.you-went{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Mulish';
    line-height: 26px;
    text-align: center;
    line-height: normal;
    padding-bottom: 50px;
}

.first-section{
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.maldives{
    background-image: url(../Images/rectangle-3.png);
    fill: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 18px;
}

.indonesia{
    background-image: url(../Images/rectangle-4.png);
    fill: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}

.heading{
    color: #FFF;
    text-align: center;
    font-family: 'Mulish';
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    padding: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2{
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    gap: 24px;
}

.srilanka{
    background-image: url(../Images/rectangle-5.png);
    background-repeat: no-repeat;
    width: 35%;
    height: auto;
    background-size: cover;
    border-radius: 18px;
}

.america{
    background-image: url(../Images/rectangle-6.png);
    background-repeat: no-repeat;
    width: 40%;
    height: auto;
    background-size: cover;
    border-radius: 18px;
}

.kashmir{
    background-image: url(../Images/rectangle-7.png);
    background-repeat: no-repeat;
    width: 25%;
    height: auto;
    background-size: cover;
    border-radius: 18px;
}

.section-3{
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    gap: 24px;
}

.bangladesh{
    background-image: url(../Images/rectangle-8.png);
    background-repeat: no-repeat;
    width: 45%;
    height: auto;
    background-size: cover;
    border-radius: 18px;
}

.bandarban{
    background-image: url(../Images/rectangle-9.png);
    background-repeat: no-repeat;
    width: 55%;
    height: auto;
    background-size: cover;
    border-radius: 18px;
}
/* This is Choose Your Destination Section End */


/* This is Bonous Section Start */
.winter-vacation{
    max-width: 1170px;
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.winter-heading{
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Mulish';
    line-height: normal;
    text-align: center;
    font-style: normal;
    color: #131318;
}

.winter-description{
    font-size: 1rem;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #424247;
    align-items: center;
}

.winter-vacation img{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 16px;
}
/* This is Bonous Section End */


/* This is Why Choose Us Section Start */
.section-4{
    max-width: 1170px;
    margin: 100px auto 0;
}

.why-choose{
     text-align: center;
}

.choose-us{
    color: #131318;
    text-align: center;
    font-family: 'Mulish';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.happy-tandering{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-style: 16px;
    font-weight: 400;
    font-family: 'Mulish';
    line-height: 26px;
    padding: 20px 0 50px;
}

.handpicked-hotels{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.handpicked-hotels-description{
    flex: 1;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.image-png{
    width: 64px;
    height: 64px;
}

.handpicked{
    color: #131318;
    font-family: 'Mulish';
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.journey-2{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.part-1{
    background: rgba(41, 206, 246, 0.05);
}

.part-2{
    background: rgba(233, 68, 68, 0.05);
}

.description-setting{
    margin: 20px 266px 0;
}
/* This is Why Choose Us Section End */

/* This is Newsletter Section Start */
.section-5{
    margin-top: 100px;
    max-width: 1170px;
    display: flex;
    gap: 20px;
}

.newspaper-setting{
    padding: 0 40px;
    border: 1px solid #FF5400;
    border-radius: 16px;
    flex: 1;
}

.newaletter{
    color: #131318;
    font-family: 'Mulish';
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 30px;
}

.travel{
    color: #5A5A5D;
    font-family: 'Mulish';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    border-bottom: 2;
}

.section-5-hr{
    border: 1px solid rgba(19, 19, 24, 0.10);
    margin: 30px 0;
}

.input-text{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    margin-bottom: 30px ;
}

.button-setting{
    background-color: #FF5400;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    font-family: 'Mulish';
    font-weight: 800;
    border: none;
    width: 100%;
    height: 50px;
}

.image-setting{
    background-image: url(../Images/rectangle-13.png);
    width: 100%;
    border-radius: 16px;
    background-size: cover;
    position: relative;
    height: 400px;
    flex: 1;
}



.color{
    background-color: #FF5400;
    width: 50%;
    height: 110px;
    border-radius: 16px;
    transform: rotate(-19.628deg);
    position: absolute;
    right: 7px;
    top: 250px;
}

.saveup{
    color: #FFFf;
    font-size: 24px;
    font-family: 'Mulish';
    font-weight: 400;
    line-height: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.saveup-1{
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    font-family: 'Mulish';
    line-height: 2;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
/* This is Newsletter Section End */

/* This is Footer Section Start */
footer{
    max-width: 1170px;
    margin: 0 auto;
}

.footer-section{
    text-align: center;
}

.nav-images{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.fa-brands{
    margin: 10px;
}

.watercolours{
    padding: 10px 270px 25px;
}

.nav-texts{
    padding: 32px 340px 0px;
}

.icons{
    padding: 0px 340px 50px;
}

.copyright{
    padding: 50px 340px 150px;
}

.checkbtn{
        display: none;
}
/* This is Footer Section End */



/* This is responsive Start */
@media screen and (max-width: 992px){

    .section-5{
        flex-direction: column;
    }
    
    .newspaper-setting, .image-setting{
        flex: none;
    }

    .checkbtn{
        display: block;
    }

    .fa-bars{
        font-size: 32px;
        color: black;
    }

    .popular-tours, .handpicked-hotels, .first-section,
    .section-2, .section-3, ul{
        flex-direction: column;
    }

    .our-popular, .right-image{
        flex: none;
    }

    .description-setting {
        margin: 0;
    }

    .right-image{
        margin-top: 40px;
        width: 100%;
        height: auto;
    }
    .maldives, .indonesia, .srilanka, .america, .kashmir, .bangladesh, .bandarban{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        height: auto;
        background-size: cover;
    }
    .color {
        width: 34%;
        right: 8px;
        top: 243px;
    }
    .button-setting{
        margin-bottom: 40px;
    }
}



@media screen and (max-width: 600px){
    .popular-tours, .first-section{
        flex-direction: column;
        align-items: center;
        background-size: cover;
    }
    .bttn-primary{
        margin-bottom: 50px;
    }
    .section-2{
        flex-direction: column;
        align-items: center;
        background-size: cover;
        width: 100%;
        height: auto;
    }
    .handpicked-hotels{
        flex-direction: column;
    }
    .description-setting{
        margin: 10px;
    }
    .newspaper-setting{
        width: 85%;
        height: auto;
    }
    .input-type{
        padding: 0px 170px;
        line-height: 0;
    }

    .section-3{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .section-5{
        width: 100%;
    }
    .maldives, .indonesia, .srilanka, .america, .kashmir, .bangladesh, .bandarban{
        display: flex;
    }
    .srilanka, .america, .kashmir{
        width: 100%;
        height: auto;
    }
    .input-text {
        width: 100%;
        height: 50px;
    }
    .watercolours{
        padding: 40px 0;
    }
    .nav-texts{
        padding: 0;
    }
    .icons {
        padding: 16px 0;
    }
    .copyright {
        padding: 40px 0px;
    }
    .nav-images{
        margin-top: 50px;
    }
    .color{
        right: 7px;
        top: 250px;
    }

}

/* This is responsive End */